@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,700i);
:root {
  --blue: #21b3e1;
  --red: #ff0000;
  --green: #03a679;
  --yellow: #ffc407;
  --white: #ffffff;
  --black: #1c1c1c;
  --primary: #104956;
  --secondary: #14cc60;
  --dark: #cccccc;
  --light: #f2f2f2;
  --background: #ece5f0;
  --secondary_25: rgba(20, 204, 96, .25); 
}

:root[data-theme="dark"] {
    --primary: #0a2e36;
    --white: #08252b;
    --black: #ffffff;
    --dark: #0c3441;
    --light: #0a2e36;
    --background: #041216;
}

*{
    transition: background-color .5s ease;
    transition: color .5s ease;
    scrollbar-color: #08252b #186e81;
    scrollbar-width: thin;
}

body {
  background-color: var(--background);
  font-family: "Montserrat", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height:100vh;
  display:flex; 
  flex-direction:column; 
  word-break: break-all;
}

h2 {
  font-size: 20px;
}

h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

ul, .list,
li, .list-item  {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--secondary);
  font-weight: bold;
}

ul .list .second-list {
    margin-left: .5rem;
}

li, .list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 1rem;
}

.rotate-anim {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;  
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.row {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.column {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
}

.breadcrumbs {
  width: 100%;
  margin: 0.5rem 0.25rem;
  padding: 0.25rem 0;
  color: var(--black);
}

.f-grow {
  flex: 1 0 0;
}


[class*="col-"] {
  width: 100%;
}

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}



.header, footer {
    background-color: var(--primary);
    border-bottom: 1px solid var(--dark);
}

footer {
  margin-top:auto;
  color: var(--secondary);
  font-weight: bold;
} 

.footer {
    padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-direction: row-reverse;
    padding: .15rem 1rem;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}


#menuToggle
{
  top: 0;
  position: relative;
  z-index: 10;
  margin-left: 1rem;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: var(--secondary);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle.active > span
{
  opacity: 1;
  transform: rotate(45deg)  translate(0, -2.5px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle.active > span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle.active > span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(-2px, -1px);
}

.second {
  background-color: var(--secondary);
position: absolute;
width: 100%;
z-index: 10;
opacity: 0;
visibility: hidden;
transition: all .3s;
}


.logo {
  color: var(--secondary);
}
.logo-img {
  width: auto;
  height: 32px;
  padding: .25rem 0 0 .5rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a {
  color: var(--secondary);
}

.menu > li > a {
    color: var(--primary);
}

.second_menu {
    display: flex;
}

.second_menu > li {
    margin: .25rem .25rem;
}

.left-menu {
    position: fixed;
    z-index: 5;
    display: flex;
    height: 100vh;
    width: 260px;
    background: var(--primary);
    visibility: collapse;
    opacity: 0;
    right: -30px;
    transition: all .3s ease-in-out;
}

.show {
    right: 0;
    opacity: 1;
    visibility: visible;
}


.header-wrapper > .second_menu a,
.box-header a {
  color: var(--secondary);
}

a:hover {
  opacity: 0.7;
}

.box {
  color: var(--black);
  background: var(--white);
  margin: 0.25rem;

  border: 1px solid var(--primary);
  border-radius: 4px;
}

.box-header {
  color: var(--secondary);
  font-weight: bold;
  background-color: var(--primary);
  padding: 0.25rem 0.5rem;
}

.box-content {
  padding: 0.5rem;
  position: relative;
}

.loading_cover {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.box-loader {
  display: inline-block;
  height: .25rem;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: var(--secondary);
  top:0;
  left:0;
}
.box-loader::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1s infinite;
  content: "";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.alert {
    z-index: 1000;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: visibility 0s, opacity 0.2s linear;
}
.alert-body {
    margin: .5rem;
    align-items: center;
}

.danger, .danger > .box-header {
    background-color: var(--red);
}
.warning, .warning > .box-header {
    background-color: var(--yellow);
}
.info, .info > .box-header {
    background-color: var(--blue);
}
.success, .success > .box-header {
    background-color: var(--green);
}

.box-success {
    border: 3px solid var(--green);
}

.info > .box-header,  .success > .box-header, .warning > .box-header, .danger > .box-header {
    color: #fff;
}

.info > .box-content,  .success > .box-content, .warning > .box-content, .danger > .box-content {
    background-color: var(--white);
}

.autor {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.autor_post {
  flex-direction: row;
  justify-content: center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.form-control {
  background-color: transparent;
  color: var(--black);
  transition-duration: 0.4s;
  font-size: 14px;
  padding: 0.5rem;
  border: 2px solid var(--dark);
  border-radius: 4px;
}

.form-control:focus {
  color: var(--secondary); 
  background-color: var(--white);
  border-color: var(--secondary);
  outline: 0;
  box-shadow: 0 0 0 .2rem var(--secondary_25);

}

.form-control-disabled {
  border: 2px solid var(--dark);
  color: var(--light);
  background-color: #0000004f;
}

.form-control-disabled:focus {
  background-color: transparent;
  color: var(--light);
  border-color: var(--dark);
  box-shadow: 0 0 0 0 transparent;
}


    .onoffswitch {
        position: relative; width: 40px; height: 20px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        height: 16px; padding: 0; line-height: 16px;
        border: 2px solid #E3E3E3; border-radius: 16px;
        background-color: #FFFFFF;
        transition: background-color 0.3s ease-in;
    }
    .onoffswitch-label:before {
        content: "";
        display: block; width: 16px; margin: 0px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 22px;
        border: 2px solid #E3E3E3; border-radius: 16px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label {
        background-color: #14cc60;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
       border-color: #14cc60;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label:before {
        right: 0px; 
    }


.btn {
  background-color: transparent;
  color: var(--black);
  transition-duration: 0.4s;
  font-size: 14px;
  font-weight: bold;
  padding: 0.5rem;
  border: 2px solid var(--black);
  border-radius: 4px;
}

.box-header .btn {
    color: var(--secondary);
}


.btn:hover {
  background-color: var(--black);
  color: #ffffff;
}

.btn-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary);
}

.btn-secondary {
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.btn-secondary:hover {
  background-color: var(--secondary);
}

.btn-success {
  border: 2px solid var(--green);
}

.btn-success:hover {
  background-color: var(--green);
  color: var(--black);
}

.btn-warning {
  border: 2px solid var(--yellow);
}

.btn-warning:hover {
  background-color: var(--yellow);
}

.btn-info {
  border: 2px solid var(--blue);
}

.btn-info:hover {
  background-color: var(--blue);
}

.btn-danger {
  border: 2px solid var(--red);
}

.btn-danger:hover {
  background-color: var(--red);
}

.btn-disabled {
  border: 2px solid var(--dark);
  color: var(--dark);
}

.btn-disabled:hover {
  background-color: transparent;
  color: var(--dark);
}

#theme-toggle {

    border-radius: 50%;
    width: 40px;
    height: 40px
}

.list {
  margin: 0.25rem 0 0.25rem 0;
}

.list-post {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row-reverse;
    border-bottom: 1px solid var(--dark);
}

li.list-item, .list-item {
    border-bottom: 1px solid var(--primary);
    padding-bottom: .25rem;
}

li.list-item-no-border, .list-item-no-border {
    padding-bottom: .25rem;
}

li.list-item:last-child, .list-item:last-child {
    border-bottom: none;
}
.badge-wrapper {
    position: relative;
}
.badge {
  border-radius: 50%;
  padding: 0.15rem;
  position: absolute;
  left: -5px;
  top: -10px;
  font-size: 12px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  text-align: center;
  color: #fff;
  background-color: #e60c54;
}


  .post-img {
      width: 38px;
      height: auto;
  }
  
  .fd-sm-column-xl-row {
    flex-direction: column;  
  }
  
  .a-item-sm-start-xl-center {
    align-items: start;
  }
  
  .border-bottom-primary-1 {
    border-bottom: 1px solid var(--primary);
  }
  
  .d-flex {
    display: flex;  
  }
  
  .a-s-end {
    align-self: end;  
  }
  
  .j-c-end {
    justify-content: end;  
  }
  
  .j-s-end {
    justify-self: end;  
  }
  
  .j-c-center {
      justify-content: center;
  }
  
  .j-c-space-between {
    justify-content: space-between;
  }
  
  .a-i-center {
      align-items: center;
  }
  
  .d-sm-block {
    display: block;
}

.d-sm-none, .d-sm-none-xl-flex {
    display: none;
}

.relative {
    position: relative;
}

.h100vh {
    height: 100vh;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.py-1 {
    padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.px-xl-1 {
  padding-left: 0;
  padding-right: 0;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: .25rem;
}

.m-2 {
    margin: .5rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.border-bottom {
    border-bottom: 1px solid var(--dark);
}

.border-top {
    border-top: 1px solid var(--dark);
}

.border-right {
    border-right: 1px solid var(--dark);
}

.rounded {
    border-radius: 50%;
}
  .view {
    height: 94vh;
    width: 100%;
    padding: .5rem;     
    position: relative;
  }
  
  .xs {
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;
}

.fs-24 {
    font-size: 24px;
}

.pointer {
    cursor: pointer;
}

.active {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.inactive {
    opacity: .5;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }      
    
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .view {
    overflow-x: hidden;
    overflow-y: auto;    
  }
  .header-wrapper {
    justify-content: end;
  }
  .second {
      position: relative;
    z-index: 1; 
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  
  .left-menu {
    position: initial;
    z-index: 5;
    display: flex;
    height: 100vh;
    width: 260px;
    background: var(--primary);
    visibility: visible;
    opacity: 1;

}
  
  .fd-sm-column-xl-row {
    flex-direction: row;  
  }
  
  ul.menu {
      display: flex;
  }
  
  ul.menu > li {
    margin-right: 2rem;
  }
  
  .d-sm-none {
     display: inline; 
  }
  
  .d-sm-none-xl-flex {
     display: flex;
  }
  
  .d-sm-block {
    display: none;
}

.list-post {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 0;
}

.text-center-xl {
    text-align: center;
}

.autor_post{
    border-right: 1px solid var(--dark);
}
  
  .post-img {
      width: 85px;
      height: auto;
  }
  
  .px-xl-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
    }
  
    .autor {
    flex-direction: row;
    justify-content: end;
    }
    
    .a-item-sm-start-xl-center {
    align-items: center;
  }
  
  .j-c-saround-xl {
      justify-content: space-around;
  }
}