@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,700i);
:root {
  --blue: #59c1bd;
  --red: #f05454;
  --green: #80ed99;
  --yellow: #ebe645;
  --grey: #ada6f2;
  --white: #ffffff;
  --black: #1c1c1c;
  --background: #171721;
  --primary: #171721;
  --secondary: #252533;
}

*{
    transition: background-color .5s ease;
    transition: color .5s ease;
    scrollbar-color: var(--background) var(--secondary);
    scrollbar-width: thin;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: "Montserrat", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height:100vh;
  word-break: break-word;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

#menuToggle
{
  position: relative;
  top: 16px;
  right: 8px;
  z-index: 10;
  margin-left: 1rem;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: var(--white);
  border-radius: 3px;
  
  z-index: 11;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle.active > span
{
  opacity: 1;
  transform: rotate(45deg)  translate(0, -2.5px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle.active > span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle.active > span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(-2px, -1px);
}


.left-menu {
   position: absolute;
   width: 100%;
   z-index: 9;
   right: -1000px;
   text-align: right;
   background-color: var(--secondary);
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.left-menu.show {
    right: 0;
}

.list,
.logo {
    padding: 10px;
}

.logo-img {
    text-align: center;
    width: 50px;
    height: auto;
}

.f-grow {
    flex-grow: 1;
}

.main-menu > .list > .list-item,
.second-list > .list-item {
    margin: 1rem;
}

.list-item {
    border-bottom: 1px solid var(--secondary);
     -o-transition:.3s;
      -ms-transition:.3s;
      -moz-transition:.3s;
      -webkit-transition:.3s;
      transition:.3s;
}

.box-header-hover:hover, 
.list-item:hover {
    background: var(--secondary);
}

.menu-item {
    margin: .5rem 0;
}

a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 500;
  position: relative;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

a:hover {
    opacity: .7;
}

    a:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px; 
      margin: 0 auto;
		  left: 0;
      right: 0;
		  width: 100%;
		  background: var(--green);
      box-shadow: 0 3px 18px -8px var(--green);
		  transform-origin: center left;
      transform: scaleX(0);
		  /* optional animation */
		  -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
    }
	  a:hover:after {
		  transform: scaleX(1);
    }
    
    a.btn:hover:after{
        transform: scaleX(0);
    }

a.router-link-active {
    color: var(--green);
}


.second-menu {
    padding-left: 1rem;  
}

.main {
   flex: 80%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.top-nav,
.view {
    width: 100%;
}

.second_menu {
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid var(--secondary);
    padding: 5px;
    margin: 5px;
}

.row {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.column {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
}

.avatar {
    border-radius: 5px;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    padding: .2rem;
    width: 40px;
    height: 40px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.box, .btn {
    
    color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
}

.box {
    background-color: var(--primary);
    border:1px solid var(--secondary);
}

.top-box {
   width: 250px;
   height: auto;
   right: 5px;
}

.btn {
    background-color: var(--secondary);
    padding: 15px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.btn-sm {
    padding: 0.5rem !important;
    margin: 0.15rem !important;
    font-size: 12px !important;
    font-weight: normal !important;
}

.badge-wrapper {
    position: relative;
}
.badge {
  display: ruby;
  border-radius: 50%;
  padding: 0.1rem;
  position: absolute;
  left: -5px;
  top: -10px;
  font-size: 12px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  text-align: center;
  color: #fff;
  background-color: #e60c54;
}

.onoffswitch {
 position:relative;
 width:32px;
 height:16px;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none
}
.onoffswitch-checkbox {
 position:absolute;
 opacity:0;
 pointer-events:none
}
.onoffswitch-label {
 overflow:hidden;
 cursor:pointer;
 height:12px;
 padding:0;
 line-height:16px;
 background-color:#fff;
 transition:background-color .3s ease-in
}
.onoffswitch-label,
.onoffswitch-label:before {
 display:block;
 border:2px solid #e3e3e3;
 border-radius:16px;
}
.onoffswitch-label:before {
 content:"";
 width:12px;
 margin:0;
 background:#fff;
 position:absolute;
 top:0;
 bottom:0;
 right:14px;
 transition:all .3s ease-in 0s
}
.onoffswitch-checkbox:checked+.onoffswitch-label {
 background-color:var(--blue);
}
.onoffswitch-checkbox:checked+.onoffswitch-label,
.onoffswitch-checkbox:checked+.onoffswitch-label:before {
 border-color:var(--blue);
}
.onoffswitch-checkbox:checked+.onoffswitch-label:before {
 right:0
}

.btn:hover {
    opacity: .7;
}

.danger,
.btn-danger,
.red-background {
    background-color: var(--red);   
}

.btn-danger,
.red-shadow {
    box-shadow: 0 3px 18px -8px var(--red);
}

.info,
.btn-info,
.blue-background {
    background-color: var(--blue);   
}

.btn-info,
.blue-shadow {
    box-shadow: 0 3px 18px -8px var(--blue);
}

.success,
.btn-success,
.btn-secondary,
.green-background {
    background-color: var(--green);
}

.btn-success,
.btn-secondary,
.green-shadow {
    box-shadow: 0 3px 18px -8px var(--green);
}

.btn-warning,
.warning,
.yellow-background {
    background-color: var(--yellow);
}

.btn-warning,
.yellow-shadow {
    box-shadow: 0 3px 18px -8px var(--yellow);
}

.secondary-shadow {
    box-shadow: 0 3px 18px -8px var(--secondary);
}

.btn-secondary,
.btn-danger,
.btn-info,
.btn-success,
.btn-warning {
    color: var(--black);
    font-weight: bold;
}

.border-0 {
    border: 0;
}

[class*="col-"] {
  width: 100%;
}

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

footer {
  margin-top:auto;
  color: var(--secondary);
  font-weight: bold;
} 

.footer {
    padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.alert {
    z-index: 8;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: visibility 0s, opacity 0.2s linear;
}
.alert-body {
    margin: .5rem;
    align-items: center;
}

.box-header {
    border-bottom: 3px solid var(--secondary);
}

.danger, .danger > .box-header {
    background-color: var(--red);
    box-shadow: 0 3px 18px -8px var(--red);
}
.warning, .warning > .box-header {
    background-color: var(--yellow);
    box-shadow: 0 3px 18px -8px var(--yellow);
}
.info, .info > .box-header {
    background-color: var(--blue);
    box-shadow: 0 3px 18px -8px var(--blue);
}
.success, .success > .box-header {
    background-color: var(--green);
    box-shadow: 0 3px 18px -8px var(--green);
}

.loading_cover {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.box-loader {
  display: inline-block;
  height: .25rem;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: var(--secondary);
  top:0;
  left:0;
}
.box-loader::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1s infinite;
  content: "";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

  .d-flex {
    display: flex;  
  }
  
  .a-s-end {
    align-self: end;  
  }
  
  .j-c-end {
    justify-content: end;  
  }
  
  .j-s-end {
    justify-self: end;  
  }
  
  .j-c-center {
      justify-content: center;
  }
  
  .j-c-space-between {
    justify-content: space-between;
  }
  
  .a-i-center {
      align-items: center;
  }
  
  .d-sm-block {
    display: block;
}

.d-sm-none, .d-sm-none-xl-flex {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
     position: absolute;
}

.h100vh {
    height: 100vh;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.py-1 {
    padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
    padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.px-xl-1 {
  padding-left: 0;
  padding-right: 0;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: .25rem;
}

.m-2 {
    margin: .5rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}


.mr-4 {
  margin-right: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.top-1 {
    top: 1rem;
}

.top-2 {
    top: 2rem;
}

.top-3 {
    top: 3rem;
}

.z-1000 {
    z-index: 10000;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pointer {
    cursor: pointer;
}

.form-control {
 background-color:transparent;
 color:var(--white);
 transition: box-shadow .3s, border-color .3s;
 font-size:14px;
 padding:.5rem;
 border:2px solid;
 border-color: var(--secondary);
 border-radius:4px
}
.form-control:focus {
 border-color:var(--blue);
 outline:0;
 box-shadow: 0 0px 8px 1px var(--blue);
}

.form-control:disabled,
.form-control[readonly],
.form-select:disabled {
 opacity:.8
}

.loader {
  display: inline-block;
  height: .25rem;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: var(--secondary);
  top:0;
  left:0;
}

.loader::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1s infinite;
  content: "";
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
}

.position-relative {
    position: relative;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

.margin-0 {
    margin: 0;
}

.margin-4 {
    margin: 1rem;
}

.rotate-anim {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -ms-transition: -ms-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;  
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes pulse-animation {
  0% {
    scale: 0;
    opacity: 1;
  }
  50% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 0;  
  }
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }      
    
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
    h1 {
        font-size: 32px;
    }
  
  .view {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 1rem;
  }
  .header-wrapper {
    justify-content: end;
  }
  .second {
      position: relative;
    z-index: 1; 
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  
  .left-menu {
         text-align: left;
    position: initial;
    z-index: 5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 260px 0 0;
    visibility: visible;
    opacity: 1;

}
  
  .fd-sm-column-xl-row {
    flex-direction: row;  
  }
  
  ul.menu {
      display: flex;
  }
  
  ul.menu > li {
    margin-right: 2rem;
  }
  
  .d-sm-none {
     display: inline; 
  }
  
  .d-sm-none-xl-flex {
     display: flex;
  }
  
  .d-sm-block {
    display: none;
}

.list-post {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 0;
}

.text-center-xl {
    text-align: center;
}

.autor_post{
    border-right: 1px solid var(--dark);
}
  
  .post-img {
      width: 85px;
      height: auto;
  }
  
  .px-xl-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
    }
  
    .autor {
    flex-direction: row;
    justify-content: end;
    }
    
    .a-item-sm-start-xl-center {
    align-items: center;
  }
  
  .j-c-saround-xl {
      justify-content: space-around;
  }
}