<h1>Reset your password.</h1>

<p>
    To reset your password, click this link: <br><br>
    <a href="{{ app.request.schemeAndHttpHost ~ base_url ~ signedUrl }}">Link to reset your password</a>.
    This link will expire in {{ expiresAtMessageData }}.
</p>

<p>If you don't reset your password ignore this message</p>

<p>
    Cheers!</p>
