.button {
    width: 100px;
    height: 20px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    opacity: 1;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    opacity: .7;
}

@each $name, $color in $colors {
    .button-color-#{$name} {
        color: $color;
    }

    .button-background-#{$name} {
        background-color: $color;
        border: 1px solid $color;
    }

}

.button-disabled {
    opacity: .7;
    filter:blur(1px);
}