@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,700i");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.small[data-v-c41cd7fe] {
    margin: 0;
    font-size: 12px;
}
.msg[data-v-c41cd7fe] {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 14px;
}
.osy[data-v-c41cd7fe] {
    overflow-y: scroll;
    max-height: 340px;
}
.wrapper[data-v-c41cd7fe] {
    margin-right: 10px;
}
.w100[data-v-544bcfc3] {
    width: 100%;
}
span .chat-wrapper[data-v-c13df938] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right[data-v-c13df938] {
    flex-direction: row-reverse;
}
.bubble[data-v-c13df938] {
    padding: 0.5rem;
    color: var(--primary);
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 6px;
    width: 100%;
    position: relative;
}
.bubble[data-v-c13df938]:after,
.bubble[data-v-c13df938]:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: var(--secondary);
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
}
.right > .msg > .bubble[data-v-c13df938]:after,
.right > .msg > .bubble[data-v-c13df938]:before {
    left: 100%;
    rotate: 180deg;
}
.chat[data-v-c13df938] {
    max-height: 350px;
    overflow-x: auto;
    padding-right: 0.25rem;
}
.mb-1[data-v-c13df938] {
    margin-bottom: 0.25rem;
}
.messenger[data-v-f60becb6] {
    width: 450px;
    height: 450px;
    z-index: 999;
    bottom: 100px;
    transition: all 0.3s ease-in-out;
}
.messenger-ico[data-v-f60becb6],
.messenger[data-v-f60becb6] {
    position: fixed;
    right: 20px;
    box-shadow: 0 0 10px var(--primary);
}
.messenger-ico[data-v-f60becb6] {
    transform: translateZ(0);
    background: var(--white);
    color: var(--black);
    display: flex;
    visibility: visible;
    opacity: 1;
    width: 60px;
    height: 60px;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 900;
    bottom: 30px;
    border-radius: 50%;
    background-size: cover;
}
.btn-chat-box-tool[data-v-f60becb6] {
    border: 0 !important;
    color: var(--secondary);
}
.btn-chat-box-tool[data-v-f60becb6]:hover {
    color: var(--secondary_25);
    background: transparent;
}
@media only screen and (max-width: 768px) {
    .messenger[data-v-f60becb6] {
        width: 90% !important;
        left: 50%;
        transform: translate(-50%);
    }
}
.list-complete-item {
    transition: all 0.3s;
}
.list-complete-enter-from,
.list-complete-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.list-complete-leave-active {
    position: relative;
}
.slide-fade-enter-active {
    transition: all 0.3s ease-out !important;
}
.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1) !important;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.6s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
:root {
    --blue: #2a67a9;
    --red: red;
    --before: #2a67a9;
    --green: #03a679;
    --yellow: #ffc407;
    --white: #f3f3f3;
    --link: #1f6b9d;
    --nav: #e1e1e1;
    --black: #12498bb8;
    --primary: #e1e1e1;
    --secondary: #2a67a9;
    --dark: #ccc;
    --light: #22548b;
    --background: #e7e7e7;
    --secondary_25: rgba(20, 204, 96, 0.25);
}
:root[data-theme="dark"] {
    --primary: #0a2e36;
    --white: #08252b;
    --black: #badfe7;
    --dark: #0c3441;
    --light: #bce1e9;
    --background: #041216;
    --secondary: #08252b;
    --before: #1cb568;
    --link: #1cb568;
}
* {
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
    scrollbar-color: var(--secondary) #186e81;
    scrollbar-width: thin;
}
body {
    background-color: var(--background);
    font-family: "Manrope", Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    word-break: break-word;
}
#app,
body {
    display: flex;
    flex-direction: column;
}
#app {
    min-height: 100vh;
}
footer {
    flex-shrink: 0;
}
h2 {
    font-size: 18px;
    font-weight: 700;
}
h2:before {
    content: "";
    background-color: var(--before);
    border-radius: 0px 12px 12px 0px;
    display: block;
    width: 4px;
    height: 28px;
    position: absolute;
    margin: -2px -8px 0;
}
h3 {
    font-size: 16px;
    font-weight: 700;
};

h4,
h5,
li,
ul {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}
li,
ul {
    list-style-type: none;
}
li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.container,
.row {
    display: flex;
    flex-wrap: wrap;
}
.row {
    flex-direction: row;
    font-size: 14px;
    color: #fff;
}
.smalltext {
    font-size: 13px;
}
.column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.breadcrumbs {
    width: 100%;
    margin: 0.5rem 0.25rem;
    padding: 0.25rem 0;
    color: var(--black);
}
.f-grow p {
    font-size: 14px;
    font-weight: 700;
}
.f-grow {
    flex: 1 0 0;
}
[class*="col-"] {
    width: 100%;
}
.col-sm-1 {
    width: 8.33%;
}
.col-sm-2 {
    width: 16.66%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-4 {
    width: 33.33%;
}
.col-sm-5 {
    width: 41.66%;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-7 {
    width: 58.33%;
}
.col-sm-8 {
    width: 66.66%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-10 {
    width: 83.33%;
}
.col-sm-11 {
    width: 91.66%;
}
.col-sm-12 {
    width: 100%;
}
.p-1 {
    padding: 0.25rem;
}
.p-2 {
    padding: 0.5rem;
}
.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-xl-1 {
    padding-left: 0;
    padding-right: 0;
}
.m-0 {
    margin: 0;
}
.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.mr-4 {
    margin-right: 1rem;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.header,
footer {
    background-color: var(--primary);
    box-shadow: 0px 10px 17px -12px rgb(0 0 0 / 65%);
}
footer {
    margin-top: auto;
    color: var(--secondary);
    font-weight: 700;
}
.footer {
    padding: 1rem;
    align-items: center;
}
.footer,
.header-wrapper {
    display: flex;
    justify-content: space-between;
}
.header-wrapper {
    max-width: 1440px;
    padding: 0.1rem 1rem; /* max-height: 70px; */
    margin-left: auto;
    margin-right: auto; /* box-shadow: 0px 10px 17px -12px rgb(0 0 0 / 43%); */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; /* border-top: 1px solid #fff; */
}
.logo-img {
    width: auto;
    height: 50px;
    position: absolute;
    top: 0;
    background: #000000a6;
    border-radius: 10px;
    padding: 2px;
    margin: 1em;
}
#menuToggle {
    top: 6px;
    position: relative;
    z-index: 1;
    margin-left: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--secondary);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
    transform-origin: 0 0;
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0 100%;
}
#menuToggle.active > span {
    opacity: 1;
    transform: rotate(45deg) translateY(-2.5px);
}
#menuToggle.active > span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2);
}
#menuToggle.active > span:last-child {
    transform: rotate(-45deg) translate(-2px, -1px);
}
.second {
    background-color: var(--secondary);
    position: absolute;
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    border-radius: 0 0 10px 10px;
}
.show {
    right: 0;
    opacity: 1;
    visibility: visible;
    position: initial;
}
.dropdown-nav,
.p-relative {
    position: relative;
}
.dropdown {
    position: absolute;
    top: 50px;
    z-index: 10;
    color: var(--black);
    background: var(--white);
    margin: 0.25rem;
    border: 1px solid var(--primary);
    border-radius: 4px;
    right: 0;
    padding: 0.5rem;
    width: 200px; /* z-index: 9999; */
}
.header-wrapper > .logo {
    color: var(--white);
    font-size: 22x; /* background-color: #000; */
    font-weight: 700; /* margin-top: 3px; */
}
a {
    text-decoration: none;
    font-weight: 800;
    transition: 0.3s;
    color: var(--link);
}
.menu > li > a {
    color: var(--nav);
}
.second_menu {
    display: flex;
}
.second_menu > li {
    margin: 0.25rem 0.25rem;
}
.box-header a,
.header-wrapper > .second_menu a {
    color: var(--light);
    font-weight: 700;
}
a:hover {
    opacity: 0.7;
}
.box {
    color: var(--black);
    background: var(--white);
    margin: 0.5rem;
    border: 1px solid var(--primary);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 17px -12px rgb(0 0 0 / 26%);
}
.box-header {
    color: var(--light);
    font-weight: 600;
    background-color: var(--primary);
    padding: 0.25rem 0.5rem;
    margin: auto;
    border-radius: 10px;
}
.box-content {
    padding: 0.5rem;
    position: relative; /* margin-bottom: 20px; */ /* box-shadow: 0px 10px 17px -12px rgb(0 0 0 / 26%); */
    border-radius: 10px;
}
.box-footer {
    flex-grow: 1;
    align-items: end;
    display: flex;
}
.box-loader {
    display: inline-block;
    height: 0.25rem;
    width: 100%;
    overflow: hidden;
    background-color: var(--secondary);
}
.box-loader,
.box-loader:after {
    position: absolute;
    top: 0;
    left: 0;
}
.box-loader:after {
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.2) 20%, hsla(0, 0%, 100%, 0.5) 60%, hsla(0, 0%, 100%, 0));
    -webkit-animation: shimmer 1s infinite;
    animation: shimmer 1s infinite;
    content: "";
}
@-webkit-keyframes shimmer {
    to {
        transform: translateX(100%);
    }
}
@keyframes shimmer {
    to {
        transform: translateX(100%);
    }
}
.badge {
    background: var(--primary);
    margin: 0.25rem;
    padding: 0.25rem;
    border: 1px solid var(--primary);
    border-radius: 4px;
    position: absolute;
    top: -10px;
    right: -10px;
}
.alert {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: visibility 0s, opacity 0.2s linear;
}
.alert-body {
    margin: 0.5rem;
    align-items: center;
}
.danger {
    background-color: var(--red);
}
.warning {
    background-color: var(--yellow);
}
.info {
    background-color: var(--blue);
}
.success {
    background-color: var(--green);
}
.pointer {
    cursor: pointer;
}
.autor {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    float: right;
}
.autor_post {
    flex-direction: row;
    justify-content: center;
}
.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    border: 3px solid var(--before);
    margin-left: 5px;
}
.uploadico {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: var(--black);
}
.form-control {
    background-color: transparent;
    color: var(--black);
    transition-duration: 0.4s;
    font-size: 14px;
    padding: 0.5rem;
    border: 2px solid var(--dark);
    border-radius: 4px;
}
.form-control:focus {
    color: var(--secondary);
    background-color: var(--white);
    border-color: var(--secondary);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--secondary_25);
}
.form-control-disabled {
    border: 2px solid var(--dark);
    color: var(--light);
}
.form-control-disabled:focus {
    background-color: transparent;
    color: var(--light);
    border-color: var(--dark);
    box-shadow: 0 0 0 0 transparent;
}
.onoffswitch {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    overflow: hidden;
    cursor: pointer;
    height: 16px;
    padding: 0;
    line-height: 16px;
    background-color: #fff;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label,
.onoffswitch-label:before {
    display: block;
    border: 2px solid #e3e3e3;
    border-radius: 16px;
}
.onoffswitch-label:before {
    content: "";
    width: 16px;
    margin: 0;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #14cc60;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #14cc60;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0;
}
.btn {
    background-color: transparent;
    color: var(--black);
    transition-duration: 0.2s;
    font-size: 14px;
    padding: 0.5rem;
    border: 2px solid var(--black);
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--black);
    color: #fff;
}
.btn-primary {
    border: 2px solid var(--primary);
    color: var(--primary);
}
.btn-primary:hover {
    background-color: var(--primary);
}
.btn-secondary {
    border: 3px solid var(--secondary);
    padding: 5px;
}
.btn-secondary:hover {
    background-color: var(--secondary);
}
.btn-success {
    border: 2px solid var(--green);
}
.btn-success:hover {
    background-color: var(--green);
    color: var(--black);
}
.btn-warning {
    border: 2px solid var(--yellow);
}
.btn-warning:hover {
    background-color: var(--yellow);
}
.btn-info {
    border: 2px solid var(--blue);
}
.btn-info:hover {
    background-color: var(--blue);
}
.btn-danger {
    border: 2px solid var(--red);
}
.btn-danger:hover {
    background-color: var(--red);
}
.btn-disabled {
    border: 2px solid var(--dark);
    color: var(--dark);
}
.btn-disabled:hover {
    background-color: transparent;
    color: var(--dark);
}
#theme-toggle {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.list {
    margin: 0.25rem 0 0.25rem 0; /* margin-left: -40px; */
    padding-left: 0px;
}
.list-post {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row-reverse;
    border-bottom: 1px solid var(--dark);
    padding-left: 0;
}
.list-item {
    border-bottom: 1px solid var(--primary);
}
.list-item,
.list-item-no-border {
    padding-bottom: 0.25rem;
}
.list-item:last-child {
    border-bottom: none;
}
.post-img {
    width: 38px;
    height: auto;
}
.fd-sm-column-xl-row {
    flex-direction: column;
}
.a-item-sm-start-xl-center {
    align-items: start;
}
.border-bottom-primary-1 {
    border-bottom: 1px solid var(--primary);
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.a-s-end {
    align-self: end;
}
.a-i-center {
    align-items: center;
}
.j-c-center {
    justify-content: center;
}
.j-c-end {
    justify-content: end;
}
.j-s-end {
    justify-self: end;
}
.j-s-start {
    justify-self: start;
}
.j-c-space-between {
    justify-content: space-between;
}
.d-sm-block {
    display: block;
}
.d-sm-none,
.d-sm-none-xl-flex {
    display: none;
}
.img100 {
    width: 100px;
    height: auto;
}
.w-100 {
    width: 100%;
}
.relative {
    position: relative;
}
.p-4 {
    padding: 1rem;
}
.xs {
    width: 35px !important;
    height: 35px !important;
}
.jodit-toolbar__box {
    background-color: var(--background) !important;
    border-bottom: 1px solid var(--primary) !important;
}
.jodit-ui-separator {
    border-left: 0;
    border-right: 1px solid var(--primary) !important;
}
.jodit-container:not(.jodit_inline) {
    border: 1px solid var(--primary) !important;
}
.jodit-container {
    color: var(--black) !important;
}
.jodit-icon {
    stroke: var(--black) !important;
    fill: var(--black) !important;
}
.jodit-toolbar-button__button:hover:not([disabled]) {
    background-color: var(--secondary_25);
    opacity: 1;
    outline: 0;
}
@media (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .second {
        position: inherit; /* z-index: 999; */
        right: 0;
        opacity: 1;
        visibility: visible;
    }
    .logo-img {
        padding-left: 0.5rem;
    }
    .fd-sm-column-xl-row {
        flex-direction: row;
    }
    ul.menu {
        display: flex;
        margin: 0;
    }
    ul.menu > li {
        margin-right: 2rem;
    }
    .d-sm-none {
        display: inline;
    }
    .d-sm-none-xl-flex {
        display: flex;
    }
    .d-sm-block {
        display: none;
    }
    .list-post {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 0;
    }
    .text-center-xl {
        text-align: center;
    }
    .autor_post {
        border-right: 1px solid var(--dark);
    }
    .post-img {
        width: 85px;
        height: auto;
    }
    .px-xl-1 {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .autor {
        flex-direction: row;
        justify-content: end;
    }
    .a-item-sm-start-xl-center {
        align-items: center;
    }
}
.skeleton-header[data-v-0c0114ea] {
    background-color: var(--light);
}
.skeleton-box[data-v-0c0114ea] {
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: var(--dark);
}
.skeleton-box[data-v-0c0114ea]:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.2) 20%, hsla(0, 0%, 100%, 0.5) 60%, hsla(0, 0%, 100%, 0));
    -webkit-animation: shimmer-0c0114ea 2s infinite;
    animation: shimmer-0c0114ea 2s infinite;
    content: "";
}
@-webkit-keyframes shimmer-0c0114ea {
    to {
        transform: translateX(100%);
    }
}
@keyframes shimmer-0c0114ea {
    to {
        transform: translateX(100%);
    }
}
