{% extends 'main.html.twig' %}

{% block title %}
    Start
{% endblock %}

{% block body %}

  <p>Welcom in OneBB installation wizard.</p>

  

{% endblock %}
{% block footer %}
<a href="{{ path('variables') }}" class="btn btn-primary">Next</a>



{% endblock %}