.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.list-enter-active {
  position: relative;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out !important;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1) !important;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.sqeez-fade-enter-active , .sqeez-fade-leave-active{
  transition: all 0.3s ease-out !important;
}

.sqeez-fade-enter-from,
.sqeez-fade-leave-to {
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top center;
}


.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-out !important;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.alert-move,
.alert-enter-active,
.alert-leave-active {
  transition: all 0.5s ease;
}

.alert-enter-from,
.alert-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.alert-leave-to {
  transform: translateY(-30px);
}

.alert-leave-active {
  position: absolute;
}